# Assignment #01

This assignment is composed of multiple Python and NumPy programming exercises. The deliverable of this assignment is this jupyter-notebook completed with your solution.

The delivery instructions are the following:
    - Create a GitHub repository for your team. You are free to choose its name. This repository will be used to delvier the programming assignments and the code of your team's final project.
    - Create a folder assignment-01 in the repository. Put the jupyter-notebook with your solution in this repository and post the repository link in your team's D2L dropbox for the assignment.

You are being assessed based on:

1. Code execution - 25% 
2. Clarity of the code (e.g., easy to follow, has pertinent comments, etc.) - 25%
3. Proper usage of the techniques seen in class - 25%
    - remember to avoid explicit Python loops!  
4. Quality and correcteness of the results - 25%

More details about the assessment are available in the rubric document in the class GitHub repository.

Points distribution:
- Question 2-21: 3 points per question 
- Questions 22-26: 8 points per question (total 40)
- Total: 100 ponits

In [1]:
import matplotlib.pylab as plt

**1. Import the numpy package under the name np**

In [2]:
import numpy as np

**2. Print the numpy version and the configuration** Zach

**3. Create a 1D array of zeros of size 10 of type float32** Greg

**4. Print the memory size of the array below** Michael

In [ ]:
Z = np.zeros((32,12))
# Include your solution below
print(Z.itemsize)

8

**5. Create a 1D array with values ranging from 10 to 58** Meet

In [3]:
np.arange(10,59)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58])

**6. Reverse the order of the values in the vector (first element becomes last)** Brandon

In [ ]:
a = np.arange(10)
# Include your solution below
# Uses a negative step to reverse the order
a = a[::-1]
print(a)

[9 8 7 6 5 4 3 2 1 0]

**7. Create a 3x3 matrix with values ranging from 0 to 8** Zach

**8. Create a 3x3 identity matrix** Greg

**9. Find and print the maximum values of each column in the array below** Michael

In [ ]:
Z = np.random.random((10,11))
# Include your solution below
Z_columns = Z.shape[1]
print(Z[:, :].max(axis = 0))

[0.9001899  0.99441024 0.79933654 0.88815694 0.91848502 0.94363017
 0.98713268 0.92621345 0.91360112 0.86970602 0.91505352]

**10. Create a $7 \times 7$ array with 1s on the borders (first row and column, last row and columns) and 0s everywhere else** Meet

In [4]:
x = np.ones((7,7))
x[1:-1,1:-1] = 0
print(x)

[[1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1.]]

**11. Pad the existing array below with zeros (i.e., add additional rows and columns with zeros). Use the NumPy pad function.** Brandon

In [ ]:
Z = np.ones((5,5))
# Include your solution below
# Uses np.pad to add additional rows and columns
Z = np.pad(Z, (1,1))
print(Z)

[[0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

**12. Extract the integer part of the random array of positive numbers below** Zach

In [ ]:
Z = np.random.uniform(0,10,10)
# Include your solution below

**13. Create a 5x5 matrix with rows with equal values ranging from 0 to 4 (i.e., [0,1,2,3,4])** Greg

*Hint:* consider using NumPy broadcasting or the tile function*

**14. Create a vector of size 10 with values ranging from 0 to 1 (0 and 1 not included)** Michael

*Hint: Consider using the linspace function*

In [ ]:
Z = np.linspace(0,1,12)[1:-1]
print(Z)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.90909091]

**15. Create a random vector of size 10 and sort it** Meet

In [6]:
vector = np.random.randint(10,size=10)
X = np.sort(vector)
print(X)

[0 2 2 4 5 5 5 7 8 9]

**16. Consider the cartesian coordinates below (X and Y), convert them to polar coordinates (R and T)** Brandon

In [ ]:
Z = np.random.random((10,2))
X,Y = Z[:,0], Z[:,1]
# Include your solution below
# Uses np.sqrt and np.arctan to convert the arrays to polar coordinates
print("X-array: ", X)
print("Y-array: ", Y)
R = np.sqrt(X**2 + Y**2)
T = np.arctan(Y/X)
print("R-array: ", R)
print("T-array: ", T)

X-array:  [0.03257897 0.23893606 0.85867206 0.37486254 0.18049818 0.09359002
 0.84455466 0.55460672 0.89200748 0.52289275]
Y-array:  [0.49436396 0.07306858 0.25759516 0.34227566 0.57572303 0.36858587
 0.61139615 0.39258568 0.9086864  0.97182435]
R-array:  [0.49543628 0.24985888 0.8964781  0.50761654 0.60335446 0.38028231
 1.04263024 0.67949402 1.27333748 1.10356667]
T-array:  [1.5049907  0.29677674 0.2914499  0.73998923 1.26698644 1.32213499
 0.62660469 0.6159838  0.79466039 1.07717193]

**17. Create random vector of size 10 and replace the maximum value by 0** Zach

**18. Find the nearest value from a given value (z) in an array (Z)** Greg

In [ ]:
Z = np.random.uniform(0,1,10)
z = 0.5
# Include your solution below

**19. Consider the vector [5, 4, 3, 2, 1], how to build a new vector with 3 consecutive zeros interleaved between each value?** Michael

In [ ]:
Z = np.arange(5)[::-1]
# Include your solution below
Z_0 = np.zeros(len(Z) + (len(Z)-1)*3)
Z_0[::3+1] = Z 
print(Z_0)
#Fix inital array??

[4. 0. 0. 0. 3. 0. 0. 0. 2. 0. 0. 0. 1. 0. 0. 0. 0.]

**20. Consider an array of dimension (5,5,3), how to mulitply it element-wise by an array with dimensions (5,5) - i.e., (5,5,0)$\times$(5,5), (5,5,1)$\times$(5,5), (5,5,2)$\times$(5,5)** Meet

In [7]:
A = np.ones((5,5,3))
B = 2*np.ones((5,5))
# Include your solution below
B_reshape = np.reshape(B,(5,5,1))
np.multiply(A,B_reshape)

array([[[2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.]],

       [[2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.]],

       [[2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.]],

       [[2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.]],

       [[2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.]]])

**21. Swap the first and second rows of the 2D array below** Brandon

In [ ]:
W = np.arange(30).reshape(6,5)
print(W)
print()
# Include your solution below
# Selects specific rows and swaps the order of them
W[[0,1]] = W[[1,0]]
print(W)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]
 [25 26 27 28 29]]

[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]
 [25 26 27 28 29]]

**22. Write a function that receives as input a 2D Boolean NumPy array and outputs the coordinates of the minimal bounding-box
that encloses all non-zero elements in the input array** Zach

**Tip:** search for the functions nonzero and where in the NumPy documentation.


<img src="../Figures/bbox.png" width="150" />

In [ ]:
def bbox(img):
    #include your solution below
    return (r1,c1),(r2,c2)


from PIL import Image

img = np.array(Image.open('../Figures/bin_image.png').convert('L')) > 0
print(bbox(img))

**23.Write a function to compute the average over a sliding window of length N over a 1D array?** Greg

*Example:* [1,2,3,4,5,6,7,8,9], N = 3 -> [2,5,8]

In [ ]:
def moving_average(x,N = 3):
    #define your function here
    return

a = np.arange(30)
N = 3
print(moving_average(a,N))

**24.  Given a sorted 1D array C that corresponds to a bincount, how to produce an array A such that np.bincount(A) == C?** Michael

*Example:* C = [3,2,4] -> D = [0,0,0,1,1,2,2,2,2]

*Tip:* Consider using the NumPy repeat function

In [ ]:
C = np.bincount([1,1,2,3,4,4,6])
print(C)
# Include your solution here
A = np.repeat(np.arange(C.size), C)
print(A)

[0 2 1 1 2 0 1]
[1 1 2 3 4 4 6]

**25. Find the most frequent value in the array below?** Meet

In [8]:
Z = np.random.randint(0,10,50)
# Include your solution below
countNum = np.bincount(Z)
print("The random array has following values")
print(Z)
print("The most frequently repeated value is -",np.argmax(countNum))
print("The number of times the value repeats is -",countNum[np.argmax(countNum)])

The random array has following values
[0 3 1 1 3 8 7 8 1 0 2 9 6 7 0 6 9 7 6 6 9 0 7 6 3 9 4 6 3 3 1 7 3 1 0 2 0
 2 6 7 8 5 9 7 7 6 8 1 2 0]
The most frequently repeated value is - 6
The number of times the value repeats is - 8

**26. Write a function to return the n largest values of an array** Brandon

In [ ]:
def nlargest(a,n = 5):
    # Include your solution here
    # Uses np.sort to sort the array, then returns the last 5 elements of the sorted array
    a = np.sort(a)
    a = a[-n:]
    return a

Z = np.arange(10000)
np.random.shuffle(Z)
n = 5
print(nlargest(Z,n))

[9995 9996 9997 9998 9999]